.drawer {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    transform: translate3d(-100vw, 0, 0);
    background: #6C63FF;
    transition: transform .4s cubic-bezier(0, .52, 0, 1);
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    &__list {
        list-style-type: none;
        line-height: 80px;
        margin: 0 auto;
        padding: 0;

        &__item {
            font-size: 48px;
            color: white;
            font-family: 'Fira Sans';
            font-weight: 900;
            cursor: pointer;
        }

        &__item:hover {
            color: #666;
        }
    }

    button {
        height: 20px;
        margin: 20px;
    }
}

.drawer:before {
    content: '';
    position: absolute;
    background-image: url('../../assets/images/menu.png');
    background-repeat: no-repeat;
    top: 50%;
    left: 7%;
    width: 100vw;
    height: 100vh;
}

.drawer-open {
    transform: translate3d(0vw, 0, 0) !important;
    overflow: hidden !important;
}