.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Fira';
  src: url('../fonts/firasans/FiraSans-Bold.otf');
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira';
  letter-spacing: 1.5px;
}
.container {
  display: flex;
  width: 80%;
  max-width: 560px;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2c3e50;

  button, input {
    width: 100%;
    border: 0;
    outline: 0;
  }

  input {
    -webkit-appearance: none;
    -webkit-border-radius:0px;
    border-radius: 0px;
    border-bottom: 1px solid rgb(104, 214, 90);
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
  }

  button {
    padding: 10px 0;
    border-radius: 3px;
    color: #fff;
    background: rgb(104, 214, 90);
    font-size: 20px;
  }

  &__output {
    font-size: 3em;
    font-weight: bold;
  }
}